* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 100px;
  height: 100px;
  position: absolute;
}
.blue {
  background-color: #03a9f4;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.green {
  background-color: #009688;
  top: 40px;
  left: 40px;
  z-index: 2;
}
.red {
  background-color: #f44336;
  top: 60px;
  left: 60px;
  z-index: 3;
}

.black {
  background-color: #333333;
  top: 40px;
  left: 20px;
  z-index: -1;
}
