* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}
div {
  width: 300px;
  height: 200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #03a9f4;
  font-size: 45px;
  font-weight: bold;
  position: relative;
}
div::after {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 310px;
  height: 204px;
  background-color: #03a9f4;
  z-index: -1;
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

div::before {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 310px;
  height: 204px;
  background-color: #e91e63;
  z-index: -2;
  transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}
