* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  background: #eeeeee;
  padding: 15px;
  display: flex;
  width: 600px;
  height: 300px;
  margin: 20px auto;
  flex-flow:row wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}
.parent div {
  width: calc(60% / 4);
  height: 50%;
  color: #fff;
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.four{
  order: 1;
  align-self: flex-end;
  background-color: #673AB7;
}
.one {
  order: 2;
  align-self: flex-start;
  background-color: #FF9800;

}

.two {
  order: 3;
  align-self: flex-end;
  background-color: #8BC34A;

}
.three {
  order: 4;
  align-self: flex-start;
  background-color: #795548;

}